<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devin Schutz</title>
    <link rel="stylesheet" href="styles.css">
    <script src="code.js" defer=""></script>
</head>
<body>
    <div class="container">
        <h1>Placeholder Heading</h1>
    </div>
    <p>
        <a href="about">About</a> 
        <a href="expierence">Expierence</a> 
        <a href="projects">Projects</a>
    </p>
    <p>
        Welcome to my Website! This is my website that I built for CS2610. 
        It uses a custom HTTP server on the back end. Use the links above to navigate.
    </p>
</body>
</html>
