<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devin - Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <h2>Tron</h2>
    <p>
        I re-created the classic game Tron using the language Python
    </p>
    <h2>GAS Team Flight Software</h2>
    <p>
        I've helped develop the flight software for the GASRATS satellite being developed by the GAS team at USU.
    </p>
    <h2>Robotics Team software</h2>
    <p>
        During high school I was the programmer that wrote the code to make our VEX robot work. 
    </p>
</body>
</html>
